.FeaturedProducts {
    background-color: #f8f9fa;
    padding: 100px 0;
}

.title {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
}

.title h2 {
    font-size: 40px;
}

.title h2::before {
    content: "";
    width: 50px;
    height: 2px;
    background: #7971ea;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
}

.all-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.all-items .items {
    background-color: white;
}

.all-items .items .item img {
    width: 100%;
}

.all-items .items .item .about {
    text-align: center;
    padding: 20px 0;
}

.all-items .items .item .about h3 a {
    text-decoration: none; 
    color: #7971ea;
}

.all-items .items .item .about h3 a:hover {
    transition: 1s;
    color: #524f85;
}

.all-items .items .item .about .discribion {
    color: rgba(0, 0, 0, 0.322);
    font-size: 17px;
}

.all-items .items .item .about .price {
    color: #7971ea;
    font-size: 20px;
    font-weight: 500;
}


